.details-form{
    background-color: rgb(242, 242, 242);
    padding: 1%;
    width: 80%;
    border-radius: 5px;
    border: 2px solid rgb(242, 242, 242);
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 243, 243);
    padding: 1%;
}

.flex-d{
    display: flex;
    flex-wrap: wrap;
    padding-left: 8%;
    align-items: center;
    gap: 10%;
}

.yellow{
    padding: 3%;
    background-color: rgb(227, 247, 128);
    border-radius: 40%;
}

.floatLeft{
    float: left;
}

.border{
    border: 1px solid rgb(239, 238, 238);
}

thead{
    background-color: rgb(51, 58, 72); 
    color: white; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.searchbody{
    height: 40px;
}

button{
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 5px;
    border: 1px solid rgb(137, 136, 136);
}

.button-container{
    display: flex;
    gap: 5px;
}
table{

    border-collapse:collapse;
}
tr {
    border-bottom: 1px solid rgb(180, 181, 182);
}

td{
     background-color: white; 
    border-bottom: 1px solid rgb(188, 189, 190);
}

.actions{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15%;
    color:rgb(51, 58, 72);
}
td{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: start; 
}
th{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: start;
    font-size: small;
    border:1px solid rgb(51, 58, 72);
}


#img-div{
    padding-left: 10%;
}

.dept{
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8%;
}

@media only screen and (max-width: 600px) {
    .details-form{
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    
    .details-form{
        overflow-x: scroll;
    }
}


@media only screen and (max-width: 334px) {
    .ed{
        width: 100%;
    }
}

@media only screen and (min-width: 912px) {
    .button-container{
        width: 40%;
    }
}
